body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

.lang-btn {
  border: 2px solid white;
  padding: 4px 16px;
  border-radius: 8px;
  background: transparent;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
  margin-right: 8px;
}

.lang-btn.active-lang {
  background: #a855f7 !important;
  color: #fff !important;
  font-weight: bold !important;
  border: 2px solid white !important;
  box-shadow: none !important;
  outline: 2px solid #fff !important;
  outline-offset: 0 !important;
  z-index: 1;
}